<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "4.4.4" >

<!-- versionCode is optional and Android only -->

  <name> Settings </name>

  <description>
      This Is Build By Olamilekan.
  </description>

  <author href="https://build.phonegap.comhttps://eritofunmi.github.io/" email="eritofunmiolamide@gmail.com">
      
  </author>
<icon src="icon.png" />
</widget>
